@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");

.dark_theme {
  background-color: rgb(22, 22, 22);
  color: rgb(214, 214, 214);
}

.light_theme {
  background-color: rgb(214, 214, 214);
  color: rgb(22, 22, 22);
}

@media (prefers-color-scheme: dark) {
  .theme {
    background-color: rgb(22, 22, 22);
    color: rgb(214, 214, 214);
  }
}

@media (prefers-color-scheme: light) {
  .theme {
    background-color: rgb(214, 214, 214);
    color: rgb(22, 22, 22);
  }
}
